.filter__label {
  font-size: 1.5rem;
  font-weight: 700;
  padding-bottom: 20px;
  

}

.filter__input {

  display: block;
  justify-self: auto;
  width: 450px;
  padding: 5px;
  margin-bottom: 20px;
  font-size: 1rem;
  border: 1px solid #000;
  border-radius: 5px;
}